# -----------------------------------------------------------------------------
# Application
# -----------------------------------------------------------------------------

APP_ENV=dev
PORT=8080

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------

DATABASE_URL=postgres://<username>:<password>@<host>:5432/<database>?sslmode=disable

# -----------------------------------------------------------------------------
# Authentication
# -----------------------------------------------------------------------------

JWT_SECRET=<replace-with-a-random-secret>
